body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 2em auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
*{margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .hero{
    position:relative;
    width:100%;
    height:100vh;
    background: #eff4fd;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210324/pngtree-portfolio-memphis-playful-abstract-pink-image_593412.jpg);
    }
    nav{
    display:flex;
    width: 84%;
    margin: auto;
    padding:20px 0px;
    align-items: center;
    justify-content: space-between;
    }
    nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
    }
    nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    }
    nav ul li a:hover{
    color: red;
    }
    .detail{
    margin-left: 8%;
    margin-top: 15%;
    }
    .detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
    }
    span{
    color: orange;
    }
    .detail p{
    color: #555;
    line-height: 22px;
    }
    .detail a{
    background: #000;
    padding:10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius:5px;
    }
    .images {
    width:45%;
    height:80%;
    position: absolute;
    bottom:0;
    right:100px;
    .images img{
    height:100%;
    position: absolute;
    left: 50%
    bottom:0;
    transform:translate(-50%);
    transition: bottom 1s,left 1s;
    }
    .images:hover .shape{
    bottom:40px;
    }
    .images:hover .boy{
    left: 45%;